<header>
  <div class="jumbotron jumbotron-fluid" id="banner">
    <div class="parallax text-center" style="background-image: url(/img/cover2.jpg);">
      <div class="parallax-pattern-overlay">
        <div class="container text-center" id="size-banner">
          <h2 class="display-2">TADP Statistics</h2>
          <h3 class="learn">Estadisticas sobre repositorios públicos en una organización de github</h3>
        </div>
      </div>
    </div>
  </div>
</header>
